# NASA Mars News Site

In [128]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import datetime as dt
import time

In [ ]:
# !pip install splinter==0.11
# !pip install bs4
# from selenium import webdriver
# driver = webdriver.Chrome('chromedriver.exe')

In [129]:
executable_path = {'executable_path': 'C:/Users/pli.TELOS/Desktop/web-scraping-challenge/Missions_to_Mars/chromedriver.exe'}
# executable_path = {'executable_path': 'chromedriver.exe'} 
browser = Browser('chrome', **executable_path, headless=False)

In [130]:
# find title and assign to variable news_title
# news_title = soup.find('div', class_="content_title").find('a').text
# Create BeautifulSoup object; parse with 'html.parser'
# Open browser via splinter
url = 'https://mars.nasa.gov/news/'
# # Retrieve page with the requests module
browser.visit(url)
time.sleep(5)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

title_tag = soup.find('div',class_='list_text')
new_title = title_tag.find('a').text
# new_title = soup.find('div',class_='content_title').text
print(new_title)

news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

In [ ]:
# browser.quit()

In [131]:
#*********************IMAGES*************************************
#****************************************************************
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False) 
# The above need to be executed each time
# executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False) 
time.sleep(5)
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)
time.sleep(5)

In [132]:
# browse and click on Full Image
browser.click_link_by_id('full_image')
time.sleep(5)

In [133]:
# browser.links.find_by_partial_href('FULL IMAGE')
browser.click_link_by_partial_text('more info')
time.sleep(5)

In [134]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [135]:
suffix_ur = soup.find(class_="lede")
print(suffix_ur)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA14400_hires.jpg"><img alt="This image from ESA's Herschel Space Observatory reveals a suspected ring at the center of our galaxy is warped for reasons scientists cannot explain. The ring is twisted so that part of it rises above and below the plane of our Milky Way galaxy." class="main_image" src="/spaceimages/images/largesize/PIA14400_hires.jpg" title="This image from ESA's Herschel Space Observatory reveals a suspected ring at the center of our galaxy is warped for reasons scientists cannot explain. The ring is twisted so that part of it rises above and below the plane of our Milky Way galaxy."/></a>
</figure>

In [109]:
suffix_inner = suffix_ur.find('a').get('href')
suffix_inner

'/spaceimages/images/largesize/PIA19404_hires.jpg'

In [136]:
featured_image_url = "https://www.jpl.nasa.gov" + suffix_inner 

# suffix_url= soup.find('section', class_='content_page module')
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19404_hires.jpg

In [ ]:
# browser.quit()

In [137]:
#*********************Table*************************************
#****************************************************************
image_url = 'https://space-facts.com/mars/'
tables = pd.read_html(image_url)
tables
# browser.visit(image_url)

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [ ]:
type(tables)

In [138]:
df=tables[0]
df.columns=['Diameter','Mass']

df.head()

               Diameter                           Mass
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [139]:
df.set_index('Diameter', inplace=True)

In [140]:
df.head()

                                               Mass
Diameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [141]:
html_table = df.to_html()
# *** Create tables in HTML in Pandas
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mass</th>\n    </tr>\n    <tr>\n      <th>Diameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [142]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mass</th>    </tr>    <tr>      <th>Diameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [143]:
df.to_html('Mars_Facts_Table.html')
df

                                               Mass
Diameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
#================= Mars Hemisphere  (Dictionary)===============================

In [144]:
browser = Browser('chrome', **executable_path, headless=False) 
image_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(image_url)
time.sleep(5)

In [ ]:
# browser.click_link_by_id('full_image')

In [145]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [146]:
element_item = soup.find_all('div', class_='item')
# print(element_item)

In [147]:
image_list = []
base_url = "https://astrogeology.usgs.gov" 
html = browser.html
soup = BeautifulSoup(html,'html.parser')

for x in element_item:
    h3_title=x.find('h3').text
    sub_page_url = x.find('a').get('href')
    
    browser.visit(base_url + sub_page_url)
    time.sleep(5)
    url_extension = browser.html
    soup = BeautifulSoup(url_extension,'html.parser')
      
    wide_image_suffix = soup.find('img', class_='wide-image')
    x = base_url + wide_image_suffix.get('src')
   
    image_list.append({'title':h3_title,'image_url':x})   
  
            
image_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [150]:
mars_dict={"header":new_title,
         "paragraph": news_p, "full_image":featured_image_url,
          "facts":html_table, "hemisphere":image_list }

In [151]:
mars_dict

{'header': "The Detective Aboard NASA's Perseverance Rover",
 'paragraph': 'An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.',
 'full_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19404_hires.jpg',
 'facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mass</th>\n    </tr>\n    <tr>\n      <th>Diameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere': [{'title': 'Cerberus Hemisphere Enhanced',
   'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [152]:
browser.quit()