# NASA Mars News Site

In [42]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
# !pip install splinter==0.11

In [ ]:
# !pip install bs4

In [ ]:
# from selenium import webdriver
# driver = webdriver.Chrome('chromedriver.exe')

In [43]:
executable_path = {'executable_path': 'C:/Users/pli.TELOS/Desktop/web-scraping-challenge/Missions_to_Mars/chromedriver.exe'}
# executable_path = {'executable_path': 'chromedriver.exe'} 
browser = Browser('chrome', **executable_path, headless=False) 

# *** Must open jupyter notebook in folder level..."mission_to_mars" folder
# *** headless can be set to True for it to run in the background, avoid pop ups
# *** in the directory that I'm actually in.....we can just use this, copy and paste every time

In [44]:
# Open browser via splinter
url = 'https://mars.nasa.gov/news/'

In [45]:
# # Retrieve page with the requests module
response = requests.get(url)

In [46]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
# Examine the results, then determine element that contains sought info
# print(soup.prettify())

In [47]:
# find title and assign to variable news_title
# news_title = soup.find('div', class_="content_title").find('a').text
news_title = soup.find('div', class_="content_title").find('a').text
print(news_title)

# # find paragraph text and assign to variable news_p
news_p = soup.find('div', class_='rollover_description_inner').text
# Did not like class_='article_teaser_body', had to use another tag class_='rollover_description' 
print(news_p)

Alabama High School Student Names NASA's Mars Helicopter


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [52]:
browser.quit()

In [53]:
#*********************IMAGES*************************************
#****************************************************************
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False) 
# The above need to be executed each time
# executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False) 
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [54]:
# browse and click on Full Image
# browser.click_link_by_partial_text('FULL IMAGE')
# browser.links.find_by_partial_text('FULL IMAGE')
browser.click_link_by_id('full_image')

In [55]:
# browser.links.find_by_partial_href('FULL IMAGE')
browser.click_link_by_partial_text('more info')
# browser.links.find_by_partial_text('more info')

# browser.links.find_by_partial_text('more info')

In [56]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [57]:
suffix_ur = soup.find(class_="lede")
print(suffix_ur)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA17470_hires.jpg"><img alt="NASA's Cassini spacecraft reveals the differences in the composition of surface materials around hydrocarbon lakes at Titan." class="main_image" src="/spaceimages/images/largesize/PIA17470_hires.jpg" title="NASA's Cassini spacecraft reveals the differences in the composition of surface materials around hydrocarbon lakes at Titan."/></a>
</figure>

In [58]:
suffix_inner = suffix_ur.find('a').get('href')
suffix_inner

'/spaceimages/images/largesize/PIA17470_hires.jpg'

In [59]:
featured_image_url = "https://www.jpl.nasa.gov" + suffix_inner 

# suffix_url= soup.find('section', class_='content_page module')
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17470_hires.jpg

In [60]:
browser.quit()

In [61]:
#*********************Table*************************************
#****************************************************************
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False) 
# The above need to be executed each time
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False) 
image_url = 'https://space-facts.com/mars/'
tables = pd.read_html(image_url)
tables
# browser.visit(image_url)

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [62]:
type(tables)

list

In [63]:
df=tables[0]
df.columns=['Diameter','Mass']

df.head()

               Diameter                           Mass
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [64]:
df.set_index('Diameter', inplace=True)

In [65]:
df.head()

                                               Mass
Diameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [66]:
html_table = df.to_html()
# *** Create tables in HTML in Pandas
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mass</th>\n    </tr>\n    <tr>\n      <th>Diameter</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [67]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mass</th>    </tr>    <tr>      <th>Diameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [68]:
df.to_html('Mars_Facts_Table.html')
df

                                               Mass
Diameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [ ]:
#================= Mars Hemisphere  (Dictionary)===============================

In [122]:
browser = Browser('chrome', **executable_path, headless=False) 
image_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(image_url)

In [ ]:
# browser.click_link_by_id('full_image')

In [118]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
base_url = "https://astrogeology.usgs.gov"

In [119]:
x_title = soup.find("h3").text
print(x_title)

Cerberus Hemisphere Enhanced

In [120]:
x_image_url = soup.find("a",class_="itemLink product-item").get('href')
image_url = base_url + x_image_url
print(image_url)

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced